<span> orthoView </span>
<br>
<span class="copyright">the code is directly copy from the book webgl programming guild</span>
<br>
<span>press w/s to increase/decrease near plane by 0.01</span><br>
<span>press d/a to increase/decrease far plane by 0.01</span><br>
<span>press up/down to increase/decrease eyeY by 0.01</span><br>
<span>press left/right to increase/decrease near eyeX by 0.01</span><br>
<span>press e/q to increase/decrease left plane by 0.01</span><br>
<span>press c/z to increase/decrease right plane by 0.01</span><br>


<canvas class="webglCanvas"> </canvas>
<br>
<span>near:</span><span class="near"></span><br>
<span>far:</span><span class="far"></span><br>
<span>advance</span><br>
<span>  experiment render different object using different shaders</span><br>
<span> experiment render auxiliary lines</span><br>