<div class="head">
    <span class="brief" data-translate="content">brief-description</span>
    <button class="changeLanguage" data-translate="UI">changeLanguage</button>
    <button class="emptyPage" data-translate="UI">emptyPage</button>
    <button class="emptyPage2" data-translate="UI">emptyPage2</button>
    
</div>
<div class="mainBody">
    <div class="menu">
        <button class="tut webgl000" data-translate="UI">canvas2d</button>
        <button class="tut webgl001" data-translate="UI">canvas3d</button>
        <button class="tut webgl002" data-translate="UI">load shader</button>
        <button class="tut webgl003" data-translate="UI">2d shader</button>
        <!-- chapter 1 -->
        <button class="tut webgl004" data-translate="UI">hello point1</button>
        <button class="tut webgl005" data-translate="UI">hello point2</button>
        <button class="tut webgl006" data-translate="UI">clickpoints</button>
        <button class="tut webgl007" data-translate="UI">coloredPoints</button>
        <!-- chapter 3 -->
        <button class="tut webgl008" data-translate="UI">multiPoint</button>
        <button class="tut webgl009" data-translate="UI">helloTriangle</button>
        <button class="tut webgl010" data-translate="UI">translatedTriangle</button>
        <button class="tut webgl011" data-translate="UI">RotatedTiangle</button>
        <button class="tut webgl012" data-translate="UI">RotatedTiangleMatrix</button>
        <!-- chapter 4 -->
        <button class="tut webgl013" data-translate="UI">RotatedTiangleMatrix4</button>
        <button class="tut webgl014" data-translate="UI">RotatedTranslatedTriangle</button>
        <button class="tut webgl015" data-translate="UI">RotatingTriangle</button>
        <!-- chapter 5 -->
        <button class="tut webgl016" data-translate="UI">MultiAttributeSize</button>
        <button class="tut webgl017" data-translate="UI">MultiAttributeSize_Interleaved</button>
        <button class="tut webgl018" data-translate="UI">MultiAttributeColor</button>
        <button class="tut webgl019" data-translate="UI">fragCoord</button>
        <button class="tut webgl020" data-translate="UI">TexturedQuad</button>
        <button class="tut webgl021" data-translate="UI">multiTexture</button>
        <!-- chapter 7 -->
        <button class="tut webgl022" data-translate="UI">LookAtTriangles</button>
        <button class="tut webgl023" data-translate="UI">LookAtTrianglesWithKeys</button>
        <button class="tut webgl024" data-translate="UI">OrthoView</button>
        <button class="tut webgl025" data-translate="UI">PerspectiveView</button>
    </div>

    <div class="dynamicsPage"></div>

</div>