<div class="head">
    <span class="brief" data-translate="Content">brief-description</span>
    <button class="changeLanguage" data-translate="UI">changeLanguage</button>
    <button class="emptyPage" data-translate="UI">emptyPage</button>
    <button class="emptyPage2" data-translate="UI">emptyPage2</button>

</div>
<div class="mainBody">
    <div class="menu">
        <button class="tut webgl026" data-translate="UI">hello cube</button>
        <button class="tut webgl027" data-translate="UI">lighted cube</button>
        <button class="tut webgl028" data-translate="UI">JointModel</button>
        <button class="tut webgl029" data-translate="UI">rotateObject</button>
        <button class="tut webgl030" data-translate="UI">pickObj</button>


    </div>

    <div class="dynamicsPage"></div>

</div>